extends layout

block content
  h1 #{title}
  br
  article
    each l in lego
      div
        img(src=`/img/${l.Copertina}`)
        h2 #{l.Name}
        h2 #{l.Theme}
        h2 #{l.Year}
        a(href=`/istruzioni/${l.Number}`) ciaoooo
        hr
